body {
	font-family: Arial, sans-serif;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.active {
	border-bottom: 2px solid #858eff;
	border-radius: 0.3rem 0.3rem 0rem 0rem;
	background-color: #555;
	color: #fff;
}

header {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

header a {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
	border: 2px solid #858eff;
	margin-right: 0.6rem;
	font-size: 1rem;
	color: #858eff;

	transition: all 0.4s;
}

header a:hover {
	color: white;
	background-color: #858eff;
}

header button {
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	color: #fff9;
	background-color: #5556;
	border-bottom: 2px solid transparent;
}

header button:hover {
	color: #fff;
	background-color: #555;
}

.content-box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}

.content-box_data {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 17rem;
}

.name {
	font-weight: bold;
	font-size: 1.5rem;
	color: #fff;
}

.email {
	font-weight: bold;
	font-size: 1rem;
	color: #fff9;
}

.bio {
	font-size: 1rem;
	color: #fff5;
	text-transform: lowercase;
}

.loginTime {
	font-size: 1rem;
	color: #555;
	text-transform: lowercase;
}

button {
	padding: 10px;
	font-size: 16px;
	color: white;
	font-weight: bold;
	font-size: 1.1rem;
	outline: none;
	border: none;

	cursor: pointer;
	transition: all 0.3s;
}

.check-btn {
	background-color: #fff1;
	color: #fff9;
	text-transform: capitalize;
}

.check-btn:hover {
	background-color: #fff3;
	color: #fff;
}

.logOut-box {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 0.5rem;
	border: 1px solid #ff776f;
	padding: 0.5rem;
	border-radius: 0.3rem;
}

.logOut-box span {
	font-size: 0.9rem;
	color: #ff776f;
}

.logOut-box button {
	align-self: flex-end;
	border-radius: 0.3rem;
	padding: 0.4rem 1rem;
	background-color: #ff555f;
	color: #fff9;
	text-transform: capitalize;
}

.logOut-box button:hover {
	background-color: red;
	color: #fff;
}

.leave-box {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 0.5rem;
	border: 1px solid #fff6;
	padding: 0.5rem;
	border-radius: 0.3rem;
}

.leave-box span {
	font-size: 0.9rem;
	color: #fff9;
}

.leave-box button {
	align-self: flex-end;
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	color: #fff9;
	background-color: #5556;
	border-bottom: 2px solid transparent;
}

.leave-box button:hover {
	color: #fff;
	background-color: #555;
}

.logout-devider {
	background: linear-gradient(to right, #ff776f, transparent);
	height: 1px;
	flex-grow: 1;
	margin: 0.7rem 0rem;
}

.devider {
	height: 1px;
	flex-grow: 1;
	background: linear-gradient(to right, #fff4, transparent);
	margin: 0.7rem 0rem;
}

.project-content_box {
	display: flex;
	flex-direction: column;
	width: 33rem;
	gap: 1rem;
}

.project-list-box {
	display: flex;
	flex-direction: column;
}
.project-list_title-box {
	display: flex;
	align-items: center;
	gap: 2px;
}
.project-list_title {
	font-size: 1rem;
	color: #d4d1d1;
}

.project-list_title-divider {
	height: 1px;
	flex-grow: 1;
	background: linear-gradient(to left, #fff4, transparent);
	margin: 0.7rem 0rem;
}

.project-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem 1rem 1rem 0rem;
	width: 34rem;
	max-height: 70dvh;
	overflow-x: hidden;
	overflow-y: scroll;
}
.project-list::-webkit-scrollbar {
	background-color: transparent;
	width: 10px;
}
.project-list::-webkit-scrollbar-thumb {
	background-color: #555555a0;
	width: 10px;
}
.project-list::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

.project-box {
	color: #fff9;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;

	background-color: #fff1;
	padding: 0.7rem;
	border-radius: 0.5rem;
	border: 1px solid #fff1;

	transition: all 0.3s;
}

.project-box:hover {
	border-color: #858dffa4;
}

.project-box_header {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 1rem;
}
.project-box_header span:first-child {
	display: flex;
	align-items: start;
	gap: 0.2rem;
}
.project-box_header .projectName {
	color: #fff;
	cursor: pointer;
	transition: all 0.4s;
}
.project-box_header .projectName:hover {
	color: #858eff;
	text-decoration: underline;
	text-underline-offset: 3px;
}

.project-box_footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.project-box_footer-btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.3rem;
}
.project-box_footer-btns:first-child {
	font-size: 0.9rem;
	font-weight: 600;
}

.project-box_footer button {
	background-color: #555;
	color: #fff9;
	font-weight: normal;
	padding: 0.3rem 0.5rem;
	border-radius: 0.3rem;
	font-size: 0.8rem;

	transition: all 0.3s;
}

.project-box_footer button:hover {
	background-color: #858dff94;
	color: #fff;
}

.project-box_copy-box {
	position: relative;
	min-width: 5rem;
	display: flex;
}

.project-box_copy-box_list {
	position: absolute;
	bottom: -0.6rem;
	left: 0;
	flex-direction: column;
	gap: 0.1rem;

	border: 1px solid #fff1;
	background-color: #fff3;
	padding: 2px;
	border-radius: 0.3rem;
	width: max-content;
}

.hidden {
	display: none;
}

.shown {
	display: flex;
}

.not-seen {
	opacity: 0;
}
